#start {
	text-align: center;
}

#wrap {
	background-color: skyblue;
	min-height: 100%;
	width: 75%;
	margin: 0 auto;
}

#time {
	height: 50px;
	margin-top: 10px;
}

#display {
	text-align: center;
}

.choice {
	background-color: white;
	margin-bottom: 5px;
}

.choice:hover {
	background-color: orange;
	color: blue;
}

.jumbotron {
	background-color: skyblue;
}
