#start {
	text-align: center;
}

#wrap {
	background-color: #9ad3de;
	min-height: 100%;
	width: 75%;
	margin: 0 auto;
	color: #ffffff;
}

#time {
	height: 50px;
	margin-top: 10px;
}

#display {
	text-align: center;
}

.choice {
	background-color: #c9c9c9;
	margin-bottom: 5px;
}

.choice:hover {
	background-color: #89bdd3;
	color: #e3e3e3;
}

.jumbotron {
	background-color: #9ad3de;
}
